/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
}

h4,
h5 {
    font-size: 2.8rem;
}

li,
input,
p,
label {
    font-size: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

button {
    padding: 2rem 6rem;
    background-color: #4c6e97;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

button:hover {
    background-color: #2a3c53;
}

/* Nav section with HERO */

.main-head {
    background-color: #131c27;
    color: white;
    position: sticky;
    top: 0%;
    z-index: 1;
}

nav {
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    list-style: none;
}

#logo {
    flex: 2 1 40rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
}

.hero {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(img/landing-page.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h3 {
    padding: 4rem;
}

/* LOCATIONS SECTION */
#locations {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(img/new-york-page.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.locations-head {
    width: 90%;
    margin: auto;
}

.locations-head h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
}

.locations-head h3 {
    padding: 4rem 0rem;
    background: linear-gradient(#131c27, #663b34);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cloud {
    position: absolute;
    top: 0%;
    right: 0%;
    animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}

.moving-cloud-2 {
    top: 20%;
    z-index: -1;
    opacity: 0.5;
}

@keyframes cloudAnimation {
    0% {
        transform: translate(10%, -10%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

/* Benefits SECTION */
.benefits-head {
    background: #343c44;
    padding: 3rem;
    text-align: center;
    color: white;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.benefits-head h3 {
    padding: 1rem;
}

.cards {
    width: 90%;
    min-height: 70vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    flex: 1 1 25rem;
    min-height: 40vh;
    margin: 2rem 5rem;
    text-align: center;

}

.card-icon {
    background: #4c6e97;
}

.cards img {
    max-width: 15%;
    margin: 2rem;
}

.card h4,
.card p {
    padding: 1rem;
}

/* Contact SECTION*/
#contact {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("img/contact-mountain.png") no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    background: #131c27;
    opacity: 0.9;
    width: 50%;
    color: white;
    border-radius: 20px;
}

.form-head {
    text-align: center;
    padding: 4rem;
}

.name-form,
.email-form {
    padding: 3rem;
    text-align: center;
}

.form-wrapper label {
    margin-right: 3rem;
}

.form-wrapper button {
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-wrapper input {
    padding: 1rem 3rem;
}

/* FOOTER SECTION*/

footer {
    color: white;
    background: #131c27;
}

.footer-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 2rem;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}

footer h5 {
    font-family: 'Pattaya', sans-serif;
    flex: 1 1 40rem;
}

footer ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
}


/* Media Query */
@media screen and (max-width: 932px) {
    html {
        font-size: 45%;
    }

    nav {
        text-align: center;
    }

    #logo {
        padding: 1rem;
    }

    .cloud {
        height: 35rem;
    }

    .moving-cloud-2 {
        top: 10%;
        z-index: -2;
    }

    .moving-cloud-1 {
        z-index: -1;
    }

    .locations-head h3 {
        background: #131c27;
        -webkit-text-fill-color: white;
        opacity: 0.8;
    }

    .form-wrapper {
        width: 100%;
    }

    footer {
        text-align: center;
    }

    footer h5 {
        padding-bottom: 2rem;
    }
}
